			<ion-view view-title="基本信息">
				<ion-nav-buttons side='right'>
					<button class="button button-icon icon ion-camera" ng-click="getPhoto()"></button>
				</ion-nav-buttons>
                <ion-pane>
                  <ion-content overflow-scroll="false">
                  	<img ng-src="{{photoSrc}}" class="photoImg"/>
                  	<div class="photo">
                  		<p><em>姓名：</em>李文楷</p>
                  		<p><em>年龄：</em>23</p>
                  		<p><em>毕业院校：</em>东华理工大学</p>
                  		<p><em>从事职业：</em>HTML5开发工程师</p>
                  		<p><em>工作时间：</em>2年</p>
                  		<p><em>联系方式：</em>13530451602</p>
                  		<p><em>个人邮箱：</em>592773593@qq.com</p>
                  	</div>
                  </ion-content>
                </ion-pane>
           </ion-view>