			<ion-view view-title="自我评价">
                <ion-pane>
                  <ion-content overflow-scroll="false">
                  	<div class="photo resume">
                  		<p>热爱前端技术，乐此不疲学习新技术。关注前端大全、github、知乎网等，在github上  有开源的项目</p>
                  		<p>具备规范的代码编写风格，工作效率比较高</p>
                  		<p>喜欢研究新技术，对前端技术一直有浓厚的兴趣</p>
                  		<p>自学能力很强，有信心应对不同技术的项目开发工作</p>
                  		<p>抗压能力很强，可以在高压状态下进行代码开发工作</p>
                  		<p>认真勤奋，吃苦耐劳，性格随和</p>                 		
                  	</div>
                  </ion-content>
                </ion-pane>
           </ion-view>